<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="padding-top: 12px;padding-bottom: 12px;">
    <div class="container"><a class="navbar-brand logo" [routerLink]="['/home']" style="padding-top: 0px;padding-bottom: 0px;"><img src="assets/img/MerckLogo.png" width="2%"></a>
        <h1 id="topTextBrand" style="font-family: Lato, sans-serif;margin-bottom: 0px;">GEST</h1><button class="btn btn-primary shadow wobble animated" id="orderTopButton" type="button" style="background-color: #000000;font-family: Amaranth, sans-serif;letter-spacing: 1px;font-size: 19px;">Home</button><button data-toggle="collapse"
            class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse d-lg-flex align-content-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center"
            id="navbarNav" style="margin-top: 15px;">
            <ul class="nav navbar-nav d-flex align-items-center ml-auto">
                <li class="nav-item" role="presentation" id="menuNavDiv" style="padding-right: 15px;"></li>
                <li class="nav-item" role="presentation" id="trackerLink" style="padding-right: 9px;"><a class="nav-link" [routerLink]="['/input']" style="font-size: 20px;font-family: Lato, sans-serif;letter-spacing: 1px;">Input</a></li>
                <li class="nav-item" role="presentation" id="homeLink" style="padding-right: 0px;"><a class="nav-link" [routerLink]="['/home']" style="font-size: 20px;padding-right: 0px;font-family: Lato, sans-serif;letter-spacing: 0px;">Home</a></li>
            </ul><a class="d-flex d-md-flex justify-content-center justify-content-md-center" id="loginLink" [routerLink]="['/login']" style="margin-top: 0px;margin-right: 0px;color: rgb(255,255,255);padding-left: 22px;">Logout</a></div>
    </div>
</nav>
