<div style="margin-top:88px" class="container flex-column align-items-lg-center">
    <div class="row align-items-center">
        <div class="col-md-12 col-lg-5 offset-lg-1 text">
            <h3 style="color: #000000;" id="heading">Raw Input for Testing</h3>
            <p style="color: #000000;opacity: 1;filter: blur(0px) brightness(102%);">Please format the text as valid JSON input</p>
            <table style="color: #000000;opacity: 1;filter: blur(0px) brightness(102%);">
                <th>Example:</th>
                <tr>"raw_text": "@Merck, killed more people than were killed in  Vietnam. Merck is now the #1 mfr of 👶 vaccines. They concea…",</tr>
                <tr>"time": "2019-30-11 00:41:00",</tr>
                <tr>"source": "TWITTER",</tr>
                <tr>"lat": "36.112",</tr>
                <tr>"lon": "-78.845",</tr>
                <tr>"author":"@Rectitude20",</tr>
                <tr>"url":"https://twitter.com/sstskybird/status/1200790498291716098"</tr>
            </table>
            <div style="color: #000000;opacity: 1;filter: blur(0px) brightness(102%);">(Surround the example above in curly brace brackets)</div>
        </div>
        <div class="col-md-12 col-lg-5 d-flex d-sm-flex d-md-flex justify-content-center justify-content-sm-center justify-content-md-center">
            <div class="portfolio-laptop-mockup"><img class="d-xl-flex" src="assets/img/jsonLogo.png" style="width: 243px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col"><textarea [(ngModel)]="rawInput" class="form-control" name="message" placeholder="Message" rows="14"></textarea></div>
    </div>
    <div class="row" style="float:right;">
        <div class="col">
            <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()"><input type="file" class="upload" name="MerckFile" style="margin-top:0px; margin-right:5px; background-color: rgb(0,0,0); color: white" (change)="changeListener($event)" accept=".csv"></form>
            <button class="btn btn-primary" name="submit" (click)="inputData()" type="button" style="margin-top:25px; background-color: rgb(0,0,0);">Submit</button></div>
    </div>
    <div class="row" style="float:right;">
        <div class="col" name="success" *ngIf="success"><p style="margin-top:15px; color: #000000;opacity: 1;filter: blur(0px) brightness(102%);">{{success}}</p></div>
        <div class="col" name="error" *ngIf="error"><p style="margin-top:15px; color: #000000;opacity: 1;filter: blur(0px) brightness(102%);">{{error}}</p></div>
    </div>
</div>
